/* ==UserStyle==
@name           Texttagram
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document url-prefix("https://www.instagram.com/") {
    
    :root{
            --border: 1px solid;
            --inactiveborder: 1px solid #9a9a9aa6;
    }
    /* chat pane border radius */ 
    div[class="x9f619 x1n2onr6 x1ja2u2z x78zum5 xdt5ytf x193iq5w xeuugli x1r8uery x1iyjqo2 xs83m0k"]{
        transition: .5s ease-in-out;
        border: var(--inactiveborder) !important;
        margin: 5px !important;
    }
    div[class="x9f619 x1n2onr6 x1ja2u2z x78zum5 xdt5ytf x193iq5w xeuugli x1r8uery x1iyjqo2 xs83m0k"]:hover{
        transition: .5s ease-in-out;
        border: var(--border) !important;
    }
    
    /* chat list */
    div[aria-label="Thread list"]{
        transition: .5s ease-in-out;
        border: var(--inactiveborder) !important;
        margin: 5px !important;
        max-width: 403px !important;
    }
    div[aria-label="Thread list"]:hover{
        transition: .5s ease-in-out;
        border: var(--border) !important;
    }
    
    div[class="x1cy8zhl x9f619 x78zum5 xdt5ytf x1gvbg2u x1qughib"]{
        margin-top: 5px;
        margin-left: 5px;
        height: 98.95%;
        padding-bottom: 0px;
        width: 100px;
    }
    
    /* inside of the notes */
    div[class="xgf5ljw x1wp8tw6 x78zum5 xdt5ytf x5yr21d x6ikm8r x10wlt62 x1n2onr6 xh8yej3 x12ol6y4 x180vkcf x1khw62d x709u02"]
    {
        background-color: var(--ig-primary-background);
        backdrop-filter: blur(10000000px);
        border: var(--border) !important;
        padding: 15px;
        border-radius: 0px;
    }
    div[class="html-div xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1oa3qoh xl56j7k x6s0dn4 xvbhtw8 xum2pek x1p2znge xckx8r1 x12qyh8a x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x178xt8z x1lun4ml xso031l xpilrb4 x78zum5 xbmvrgn xod5an3 x1diwwjn xdj266r x1ba4aug x1a2a7pz x1n2onr6 xp8v34b xsdsiao x1oom34r xsu2wpu"]{
        border: 1px solid;
        border-radius: 0px;
    }
    
    /* chatist height */
    div[class="x1n2onr6 xh8yej3"] > div[class="x13dflua x19991ni"] > div[class="x1i10hfl x1qjc9v5 xjbqb8w xjqpnuy xc5r6h4 xqeqjp1 x1phubyo x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x972fbf x10w94by x1qhh985 x14e42zd x9f619 x1ypdohk xdl72j9 x2lah0s x3ct3a4 x2lwn1j xeuugli xexx8yu xyri2b x18d9i69 x1c1uobl x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x87ps6o x1lku1pv x1a2a7pz x4gyw5p xd3so5o x1l895ks x15mokao x1ga7v0g x16uus16 xbiv7yw x1lliihq xdj266r x14z9mp xat24cr x1lziwak xg6hnt2 x18wri0h"] > div[class="html-div xdj266r x14z9mp xat24cr x1lziwak x1qjc9v5 x9f619 x78zum5 xdt5ytf x1iyjqo2 xl56j7k xeuugli xwib8y2 x13jy36j x64bnmy x1y1aw1k"] > div[class="x9f619 x1ja2u2z x78zum5 x2lah0s x1n2onr6 x1qughib x6s0dn4 xozqiw3 x1q0g3np"]{
        height: 20px !important;
    }
    div[class="x9f619 x1ja2u2z x78zum5 x2lah0s x1n2onr6 x1qughib x6s0dn4 xozqiw3 x1q0g3np"]{
        height: 20px !important;
    }
    
    /* stabilizer */
    .xz9dl7a{padding: 8px }
    
    /* searchbar space */
    .xod5an3{margin: 2px !important}
    
    /* textbar - back */
    .xg8j3zb,
    .x1eb86dx,
    .x1eb86dx {
        background: #0000 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
        background-size: cover !important;
    }
    
    div[class="x1i10hfl x1qjc9v5 xjqpnuy xc5r6h4 xqeqjp1 x1phubyo x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x972fbf x10w94by x1qhh985 x14e42zd x9f619 x1ypdohk xdl72j9 x2lah0s x3ct3a4 x2lwn1j xeuugli xexx8yu xyri2b x18d9i69 x1c1uobl x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x87ps6o x1lku1pv x1a2a7pz x4gyw5p xd3so5o x1l895ks x6nl9eh x1a5l9x9 x7vuprf x1mg3h75 x1lliihq xdj266r x14z9mp xat24cr x1lziwak x19g9edo xmoo3j9 x1e9wozp"]{
        background: #ebdbb2;
    }
    div[class="x1i10hfl x1qjc9v5 xjqpnuy xc5r6h4 xqeqjp1 x1phubyo x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x972fbf x10w94by x1qhh985 x14e42zd x9f619 x1ypdohk xdl72j9 x2lah0s x3ct3a4 x2lwn1j xeuugli xexx8yu xyri2b x18d9i69 x1c1uobl x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x87ps6o x1lku1pv x1a2a7pz x4gyw5p xd3so5o x1l895ks x6nl9eh x1a5l9x9 x7vuprf x1mg3h75 x1lliihq xdj266r x14z9mp xat24cr x1lziwak x19g9edo xmoo3j9 x1e9wozp"] span[class="x1lliihq x193iq5w x6ikm8r x10wlt62 xlyipyv xuxw1ft"] > span{
        color: #1d2021 !important
    }
    div[class="x1i10hfl x1qjc9v5 xjqpnuy xc5r6h4 xqeqjp1 x1phubyo x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x972fbf x10w94by x1qhh985 x14e42zd x9f619 x1ypdohk xdl72j9 x2lah0s x3ct3a4 x2lwn1j xeuugli xexx8yu xyri2b x18d9i69 x1c1uobl x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x87ps6o x1lku1pv x1a2a7pz x4gyw5p xd3so5o x1l895ks x6nl9eh x1a5l9x9 x7vuprf x1mg3h75 x1lliihq xdj266r x14z9mp xat24cr x1lziwak x19g9edo xmoo3j9 x1e9wozp"]:hover{
        background: #d4c5a1;
    }
    div[class="x1i10hfl x1qjc9v5 xjqpnuy xc5r6h4 xqeqjp1 x1phubyo x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x972fbf x10w94by x1qhh985 x14e42zd x9f619 x1ypdohk xdl72j9 x2lah0s x3ct3a4 x2lwn1j xeuugli xexx8yu xyri2b x18d9i69 x1c1uobl x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x87ps6o x1lku1pv x1a2a7pz x4gyw5p xd3so5o x1l895ks x6nl9eh x1a5l9x9 x7vuprf x1mg3h75 x1lliihq xdj266r x14z9mp xat24cr x1lziwak x19g9edo xmoo3j9 x1e9wozp"] span[class="x1lliihq x193iq5w x6ikm8r x10wlt62 xlyipyv xuxw1ft"] > span{
        color: #1d2021 !important
    }
    div[class="html-div xdj266r x14z9mp xat24cr x1lziwak x1qjc9v5 x9f619 x78zum5 xdt5ytf x1iyjqo2 xl56j7k xeuugli x13jy36j x64bnmy x1y1aw1k xwib8y2"]:hover{
    }
    
    /* primary | General | Requests ] */
    /* div[class="xvbhtw8 x1bs97v6 x1q0q8m5 xso031l x9f619 x78zum5"]{
        border: 1px solid #fff
    } */
    
    /* unread msg bubble */
    div[class="html-div xdj266r x14z9mp xat24cr x1lziwak x1qjc9v5 x9f619 x78zum5 xdt5ytf x1iyjqo2 xl56j7k xeuugli x13jy36j x64bnmy x1y1aw1k xwib8y2"]:hover span[class="x6s0dn4 x1iwo8zk x1033uif x179ill4 x1b60jn0 x9f619 x3nfvp2 xl56j7k x5slmwz xdk7pt x1xc55vz"]{  
    /* or: .x5slmwz */
        background: #ebdbb2;
    }
    div[class="x1i10hfl x1qjc9v5 xjqpnuy xc5r6h4 xqeqjp1 x1phubyo x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x972fbf x10w94by x1qhh985 x14e42zd x9f619 x1ypdohk xdl72j9 x2lah0s x3ct3a4 x2lwn1j xeuugli xexx8yu xyri2b x18d9i69 x1c1uobl x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x87ps6o x1lku1pv x1a2a7pz x4gyw5p xd3so5o x1l895ks x6nl9eh x1a5l9x9 x7vuprf x1mg3h75 x1lliihq xdj266r x14z9mp xat24cr x1lziwak x19g9edo xmoo3j9 x1e9wozp"] span[class="x6s0dn4 x1iwo8zk x1033uif x179ill4 x1b60jn0 x9f619 x3nfvp2 xl56j7k x5slmwz xdk7pt x1xc55vz"]{
        background: #282828
    }
    span[class="x6s0dn4 x1iwo8zk x1033uif x179ill4 x1b60jn0 x9f619 x3nfvp2 xl56j7k x5slmwz xdk7pt x1xc55vz"]{
        background: #ebdbb2;
    }
    
    /* no dp */
    /*list*/ div[class="x9f619 x1n2onr6 x1ja2u2z xdt5ytf x2lah0s x193iq5w xeuugli x78zum5 xbmvrgn"], div[class="html-div xdj266r x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 x16ye13r xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"]{
        display: none
    }
    /*chatpane*/ div[class="html-div xdj266r x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 x16ye13r x5lhr3w xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"]{
        display: none
    }
    
    /* no msg count on the home popup */
    div[class="html-div xdj266r xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw xbmvrgn x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"]{
        display: none
    }
    /* reply bar */
    div[class="html-div x14z9mp xat24cr x1lziwak x9f619 x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x1qjc9v5 x1oa3qoh xvbhtw8 x5ur3kl x13fuv20 x178xt8z x1qughib x1xmf6yo xjkvuk6 xv54qhq xf7dkkf xyamay9"]{
        background: #0000 !important;
    }
    a.x1i10hfl.x1qjc9v5.xjbqb8w.xjqpnuy.xa49m3k.xqeqjp1.x2hbi6w.x13fuv20.xu3j5b3.x1q0q8m5.x26u7qi.x972fbf.xcfux6l.x1qhh985.xm0m39n.x9f619.x1ypdohk.xdl72j9.x2lah0s.xe8uvvx.x2lwn1j.xeuugli.x1n2onr6.x16tdsg8.x1hl2dhg.xggy1nq.x1ja2u2z.x1t137rt.x1q0g3np.x87ps6o.x1lku1pv.x1a2a7pz.x168nmei.x13lgxp2.x5pf9jr.xo71vjh.x1lliihq.xdj266r.x11i5rnm.xat24cr.x1mh8g0r.xg6hnt2.x18wri0h.x1l895ks.xbbxn1n.xxbr6pl.x1y1aw1k.xwib8y2:hover {
        background-color: #ffffff20;
    }

    .x1k4qllp { outline: 10px solid #0000; }
    .xyqdw3p { background-image: none !important; }

    ::-webkit-scrollbar, ::-webkit-scrollbar-corner, ::-webkit-scrollbar, ::-webkit-scrollbar-corner { display: none!important; }
    ::-webkit-scrollbar-button, ::-webkit-scrollbar-button { display: none !important; }
    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb { display: none !important; }
    ::-webkit-scrollbar-thumb:not(:active):hover, ::-webkit-scrollbar-thumb:not(:active):hover { display: none !important; }
    ::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-thumb:hover:active, ::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-thumb:hover:active { display: none !important; }
    
    /* text chatbg */
    .x88qbow,
        div[class="x1i10hfl x972fbf x10w94by x1qhh985 x14e42zd x9f619 x3ct3a4 xdj266r x14z9mp x1lziwak x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 x1ejq31n x18oe1m7 x1sy0etr xstzfhl x1ypdohk x78zum5 xl56j7k x1y1aw1k xf159sx xwib8y2 xmzvs34 x1epzrsm x4gyw5p x1jplu5e x1o7uuvo x14snt5h x7fd4wk x5slmwz x12ol6y4 x180vkcf x1khw62d x709u02 x90ne7k xu06os2 xvni27 x1spsku0"],
        .html-div.xdj266r.x14z9mp.xat24cr.x1lziwak.x14ctfv.x13sv91t.x6ikm8r.x10wlt62.xerhiuh.x1pn3fxy.x10zy8in.xm9bcq3.x1n2onr6.x1vjfegm.x1k4qllp.x1mzt3pk.x5slmwz.xpmdkuv.xrmkrer.x12z03op.x9wyiwl.x13fuv20.x18b5jzi.x1q0q8m5.x1t7ytsu.x12lizq0.x1nrdd72.x1ybe9c6.xx487zo.xaymx6s{
        background: #0000 !important;
    }
    div[class="x1i10hfl x1qjc9v5 xjbqb8w xjqpnuy xc5r6h4 xqeqjp1 x1phubyo x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x972fbf x10w94by x1qhh985 x14e42zd x9f619 x1ypdohk xdl72j9 x2lah0s x3ct3a4 xdj266r x14z9mp xat24cr x1lziwak x2lwn1j xeuugli xexx8yu xyri2b x18d9i69 x1c1uobl x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1fmog5m xu25z0z x140muxe xo1y3bh x3nfvp2 x1q0g3np x87ps6o x1lku1pv x1a2a7pz x5yr21d"] > div[class="x6s0dn4 x78zum5 xdt5ytf x13a6bvl x1n2onr6 x13oubkp"] > div[class="x6s0dn4 x78zum5 xdt5ytf xh8yej3"]{
        opacity: 0;
        height: 3vh
           
    }
    div[class="x1c4vz4f x2lah0s xhjk10j"]{
        height: 11vh;
        width: 95%;
    }
    
    div[class="xsnw5ke x9f619 x78zum5 x13b9bq5 x193iq5w x1n2onr6 x2b8uid x13faqbe x3zg9eu xrw4ojt xg6frx5 xw872ko xhgbb2x x1s928wv x1j6awrg x12l2aii x1mbk4o x14vvt0a x1w3ol1v xxt2rmt xc7aqrk xgujvf1 x1y1aw1k xf159sx xwib8y2 xmzvs34 xdb1ctf x1cf5b39 x1bymyaz x18ebn6z xg4xgkf"]{
        border-radius: 0px;
        border: 0.5px solid #fff;
        height: 60px;
        background: #0000;
        margin-top: 10px;
    }
    div[class="x1cy8zhl x9f619 x78zum5 xdt5ytf x1gvbg2u x1qughib"]{
        width: 72px !important;
    }
    div[class="x1dr59a3 x13vifvy x7vhb2i x6bx242"] {
        display: none;
    }
    div[class="xvbhtw8 x78zum5 xdt5ytf x5yr21d x1n2onr6"], div[class="x6s0dn4 xyzq4qe x78zum5 xdt5ytf x2lah0s xl56j7k x1n2onr6 x5ur3kl x6usi7g x1bs97v6 x18dxpii x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x178xt8z x1lun4ml xso031l xpilrb4 x1i5p2am x1whfx0g xr2y4jy x1ihp6rs x6ikm8r x10wlt62"]{
        border: 1px #fff solid;
        border-radius: 0px !important;
    }
    div[class="x9f619 x1n2onr6 x1ja2u2z xdt5ytf x2lah0s x193iq5w xeuugli x78zum5"]:has(img[alt="User avatar"]){
        display: none
    }
    div[class="x9f619 x1n2onr6 x1ja2u2z x78zum5 xdt5ytf x2lah0s x193iq5w xeuugli x1iyjqo2"] div:nth-child(2),
    div[class="x9f619 x1n2onr6 x1ja2u2z x78zum5 xdt5ytf x2lah0s x193iq5w xeuugli x1iyjqo2"] div:nth-child(3){
        display: none
    }
    
    div[class="html-div xdj266r x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 x16ye13r x5lhr3w x78zum5 x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1 x7r02ix x6nl9eh x1a5l9x9 x7vuprf x1mg3h75 x1y0lptx x1wp8tw6 x1ve1609 xtpu1e1 x6ikm8r x10wlt62 xixxii4 x1vjfegm"]{
        border: 1px solid;
    }
    div[class="html-div xdj266r x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1 x3h4tne x145d82y xixxii4"]{
        border: 1px solid;
    }
    div[class="html-div xdj266r x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh x1nhvcw1"] > div{
        display: none
    }
}
@-moz-document domain("instagram.com") {
  /* font size */
  :root,
  article {
    --system-14-font-size: 15px;
    --system-14-line-height: 1.3;
  }

  button {
    --system-14-font-size: 14px;
  }

  article {
    ._aacl._aaco._aacu._aacx._aad7._aade,
    ._acan,
    .x1f6kntn {
      font-size: var(--system-14-font-size);
      line-height: var(--system-14-line-height);
      overflow-wrap: anywhere;
    }
  }

  /* sidebar */
  .x6bx242 {
    display: none;
  }

  /* navbar */
  ._aa4c {
    --nav-narrow-width: 0px;
    --nav-medium-width: 0px;
    --nav-wide-width: 0px;
  }

  .x1o5hw5a.x1o5hw5a,
  .xw2csxc {
    --nav-narrow-width: 72px;
    --nav-medium-width: 72px;
  }

  .xaeubzz.xaeubzz {
    --nav-wide-width: 72px;
  }

  .x1o5hw5a.x1o5hw5a:hover {
    --nav-medium-width: 244px;
  }

  .xaeubzz.xaeubzz:hover {
    --nav-wide-width: 335px;
  }

  svg[aria-label="Instagram"] {
    width: min(103px, 100%);
  }

  /* read more button & view all comments button */
  article > div > div:nth-child(3) {
    span.x1roi4f4:not([role="img"]) {
      border: 1px solid #999;
      border-radius: 2px;
      text-align: center;
      padding: 8px;
    }

    .xryxfnj [role="button"] {
      display: block !important;
      margin-top: 12px;
    }

    .x9f619.x1xmf6yo,
    [role="link"],
    [role="link"] > span {
      width: 100%;
    }
  }

  /* main article */
  @media screen and (min-width: 800px) {
    .x17snn68.x17snn68 {
      width: 100%;
      /* Settings page */
      .html-div > .xw2csxc:nth-child(1) {
        padding-left: var(--nav-medium-width);
      }
    }
 
    main > .xl56j7k > div[style] {
      min-width: 630px !important;
      width: 67% !important;
      max-width: 80% !important;
    }

    .xmnaoh6 + div > div {
      width: 100% !important;
    }

    /* variant & home */
    main > div > div > .xw7yly9 > div,
    article > .xdt5ytf:not(.xtcbf50) {
      flex-direction: row;
      flex-wrap: wrap;
      > div {
        box-sizing: border-box;
      }

      > div:nth-child(1) {
        flex: 100%;
      }

      > div:nth-child(2) {
        flex: 55%;
      }

      > div:nth-child(3) {
        flex: 45%;
        > div {
          padding: 0 10px;
        }
      }
    }
  }
}
