/* ==UserStyle==
@name           Him-bread+ytad tweak
@namespace      github.com/openstyles/stylus
@version        2.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("www.youtube.com") {
    /* Insert code here... */
    /* cosmetic and focus tweaks for yt */
    /* credit to various userstyles makers for some pieces of this */

    div[id="frosted-glass"]{
        display: none
    }
    tp-yt-app-drawer[id="guide"]{
        background: #111 !important;
        margin-right: 10px;
    }
    ytd-mini-guide-renderer{
        display: none
    }
    /* hide recs */
    #secondary:has(ytd-playlist-panel-renderer:not([hidden])) #related {
        display: none !important;
    }

    #secondary:not(:has(ytd-playlist-panel-renderer:not([hidden]))) {
        display: none !important;
    }

    /* make video fill the remaining space */
    #primary {
        width: 100% !important;
        flex: 1 !important;
        max-width: none !important;
    }

    #playlist.ytd-watch-flexy{
        max-height: 95vh;
    }
    /* hide yt sidebar */
    /*ytd-mini-guide-renderer, 
    ytd-guide-renderer {
    display: none !important;
}*/
    yt-icon{
        display: none  
    }

    /* hide yt top bar */
    .ytd-masthead {
        opacity: 0 !important;
        height: 0 !important;
        transition: ease-in-out 0.2s;
    }
    .ytd-masthead:focus-within {
        height: 80px !important;
        opacity: 1 !important;
        backdrop-filter: blur(10pc) !important;
    }

    /* remove extra padding and ensure content is full-width on channel page*/
    .ytd-app {
        margin-top: 0 !important;
        padding-top: 0 !important;
        margin-left: 0 !important;
    }

    html:not(.ytd-watch-flexy) ytd-watch-flexy[flexy] #player {
        width: 100% !important;
        max-width: 1400px;
        margin: 0 auto !important;
    }

    /* remove that annoying thing yt adds in dark mode */
    .ytp-gradient-bottom {
        display: none !important;
    }

    /* reshape some elements */
    .chip-container {
        border-radius: 0% !important;
    }

    .ytd-thumbnail {
        border-radius: 10% !important;
    }

    .yt-spec-avatar-shape__image {
        border-radius: 10% !important;
    }
}

@-moz-document regexp("^https://www\\.youtube\\.com/playlist.*$") {
    /* Insert code here... */
    ytd-two-column-browse-results-renderer[class="style-scope ytd-browse grid grid-disabled"]{
        width: 90vw !important;      
        margin-left: 40px !important;
    }
    div[class="yt-page-header-view-model__page-header-background"],
    yt-content-preview-image-view-model[class="yt-page-header-view-model__page-header-headline-image yt-page-header-view-model__page-header-headline-image--page-header-headline-image-hero ytContentPreviewImageViewModelHost ytContentPreviewImageViewModelLargeRoundedImage"]{
        display: none
    }
    div[id="contents"]{
        margin-left: 10px
    }
    ytd-alert-with-button-renderer{
        background: #0000 !important
    }
}

@-moz-document regexp("https://www.youtube.com/@.*$") {
    div[id="wrapper"]{
        height: 35pc !important;
    }
}

@-moz-document regexp("^https:\\/\\/www\\.youtube\\.com\\/?$") {
    /* All of YouTube */
    /* #contents, .style-scope.ytd-notification-topbar-button-renderer.notification-button-style-type-default, .ytp-videowall-still.ytp-suggestion-set {
    display: none !important;
} */
    /*Remove notification button*/
    .style-scope.ytd-notification-topbar-button-renderer/*ytd-notification-topbar-button-renderer #button.ytd-notification-topbar-button-renderer */ {
        display: none;
    }
    #thumbnail{
        opacity: 0;
        height: 20px;
    }
    ytd-rich-grid-media[class="style-scope ytd-rich-item-renderer"]:hover #thumbnail{
        position: absolute;
        height: 40rem !important;
        width: 69rem !important;
        z-index: 999;
        opacity: 0;
        left: -20%
    }
    #container:has(video[class="video-stream html5-main-video"]){
        z-index: 999;
    }

    /* per shits */
    /*
    ytd-rich-grid-media[class="style-scope ytd-rich-item-renderer"]:hover #thumbnail{
    position: absolute;
    height: 15rem !important;
    width: 29rem !important;
    z-index: 999;
    opacity: 0
}
    #container:has(video[class="video-stream html5-main-video"]){
    z-index: 999;
}

    ytd-rich-grid-media[class="style-scope ytd-rich-item-renderer"]:hover div[id="byline-container"]{
    opacity: 0
}
    div[id="byline-container"]:hover{
    opacity: 1
}

    */
    /* Metadata */ 
    div[id="byline-container"]{
        opacity: 0
    }
    div[id="metadata-line"]{
        visibility: hidden
    }
    ytd-mini-guide-renderer[class="style-scope ytd-app"]{
        display: none
    }
    #frosted-glass, #scroll-container{
        display: none
    }
    #player-container.ytd-video-preview{
        position: absolute;
        width: 100%;
        height: 100%
    }
    .html5-video-player .video-click-tracking, .html5-video-player .video-stream{
        position: absolute;
        /* height: 1060px !important;
        width: 1060px !important; */
        left: 50%;
        top: 50%

    }
}


