/* ==UserStyle==
@name           All Sites — Jetbrains Mono
@namespace      github.com/openstyles/stylus
@description    Set JetBrains Mono as the default font on every website
@version        1.1
@author         ChatGPT
==/UserStyle== */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    font-family: "JetBrains Mono" !important;
}

@-moz-document regexp("^https?:\\/\\/([a-z0-9-]+\\.)*google\\.[a-z.]+\\/.*$") {
    [class*="material-icons-extended"],
    .dwlvNd .aAW7Jd::after,
    i{
        font-family: "Google Material Icons" !important;
    }

    .google-symbols {
        font-family: "Google Symbols" !important;
    }
}

@-moz-document url-prefix("moz-extension://"),
    url-prefix("chrome-extension://") {
        *,
        *::before,
        *::after {
            font-family: "JetBrains Mono" !important;
        }
}

@-moz-document url-prefix(https://claude.ai){
    span[data-cds="Icon"]{
            font-family: var(--font-anthropicons, Anthropicons-Variable) !important;
    }
}

