/* ==UserStyle==
@name           Lokkhi
@namespace      github.com/openstyles/stylus
@version        2.0.0
@description    A new userstyle
@author         Me
@var checkbox   discord "discord video preview" 1
==/UserStyle== */

div[id="google-one-tap-anchor"]{
    display: none
}
@-moz-document url-prefix("https://app.shikho.com"), regexp("^https:\\/\\/app\\.shikho\\.com\\/student\\/my-courses\\/.*$") {
    /* Insert code here... */
    div[class="grid grid-cols-12 gap-4"]{
        display: flex;
        flex-direction: column-reverse;
    }
    div[class="col-span-full md:col-span-7"]{
        width: 100%;
    }
    div[class="ContentDisplay_videoSection__4YQSH"],
    .ContentDisplay_videoSection__4YQSH
    {
        width: 100% !important;
    }
    .rpv-toolbar__right .rpv-core__display--hidden.rpv-core__display--block-medium:nth-child(4){
        display: block
    }
}

@-moz-document url-prefix(https://open.spotify.com) {
    
    .kinda{display: flex}
    
    :root{
        --esaccent: #8ec07c;
        --txtaccent: #709b60;
    }
}
@-moz-document url-prefix("https://open.spotify.com/playlist/5FafrkFZFxnYtDs1H7e7yz") {

    .pair{display: flex}

    :root{
        --bg: #8c0048;
        --bar: #8c0048;
        
        --b1 : url(https://i.vgy.me/kSSQ0R.jpg);
        --p1 : 70%;
        --s1 : 130%;
        
        --b2 : url(https://i.vgy.me/376vyZ.png);
        --p2 : 24%;
        --s2 :  350%;
        
        --bgimg     : var(--b2);
        --position  : var(--p2);
        --size      : var(--s2);
        
        --base: #c5364f;
        --highlight: red;
        --press: blueviolet;
        --color: rgba(143, 12, 12, .62);
        --esaccent: #ff86a3;
        --txtaccent: #fd7070;
    }
}

@-moz-document url-prefix(https://open.spotify.com/playlist/07maNbdCVa7NT4XZeb1wYr) {
    
    .kinda{display: flex}
    
    :root{
        --bg: #8c0048;
        --bar: #8c0048;
        --bgimg: url(https://i.vgy.me/nsBhkC.jpg);
        --base: #c5364f;
        --highlight: red;
        --press: blueviolet;
        --position: 50%;
        --color: rgba(83, 15, 117, .72);
        --size: 350%;
        --esaccent: #ff86a3;
        --txtaccent: #fd7070;
    }
}

@-moz-document url-prefix(https://open.spotify.com/playlist/7FPfLctILsGzVHTaHgfsmi) {
    
    .spu{display: flex}
    
    :root{
        --bg: #373737;
        --bgimg: url(https://i.vgy.me/Rn5K2r.png);
        --base: #fff;
        --highlight: #fff;
        --press: blueviolet;
        --position: 50%;
        --color: rgba(54, 54, 54, .49);
        --size: 100%;
        --esaccent: #fff;
        --txtaccent: #aaa;
        --bar: #373737;
    }
}

@-moz-document url-prefix("https://open.spotify.com"){
    div[class="LUXUp8VNfbIoaJCl"]{ background-color: var(--bg); background-position-x: center; }
    div[class="VeKY4oPJjQ85fRnN"],
    div[class="Emh6sVCoQHM3KQ4_ WrEaGRqx9J44u32H"]{
        background-image: var(--bgimg);
        background-attachment: local;
        background-size: var(--size);
        background-position-y: var(--position);
        background-blend-mode: color;
        background-color: var(--color);
        background-position-x: center;
    }
    .encore-dark-theme .encore-bright-accent-set {
        --background-base       : var(--base);   
        --background-highlight  : var(--highlight);
        --background-press      : var(--press)
    }
    div[class="XToncn4_mYHzhKy7 q8mQFn7r8UYsKdHE _H2ZzS_Atuwx6wh9 tMFkXbMSXNUegQIu EYdwwRebZIgjbKy_ aIU4qABgiIgjAEyD NEK7GtRu3w0JbyBT YDy_mwD8Z1sCem4Q zoKSw5SN9xUA4OkM C3zqtOMpn6kyeSzu"]{
        height      : 30vh !important;
        max-height  : 30vh !important;
    }
    
    .encore-dark-theme, .encore-dark-theme .encore-base-set {
        --essential-bright-accent: var(--esaccent) !important; 
        --text-bright-accent: var(--txtaccent) !important;
    }
    
    .Ltz8hFoxXpck1XAk.WhDogzQwSAwEfE7F{ background: var(--bar); }
    .encore-dark-theme, .encore-dark-theme .encore-base-set { --essential-bright-accent: var(--esaccent); --text-bright-accent: var(--txtaccent); }
     .GzWlvg0xI8IJiSoY.u5wEtE_x69YxkLdv.TiaWL1ubrITBXdmD { background: var(--essential-bright-accent);
        .encore-internal-color-text-subdued, .encore-internal-color-text-base, .UudGCx16EmBkuFPllvss a, ._TH6YAXEzJtzSxhkGSqu a, .ET4SVjxyjH4WkA3kSo5G a, .qev2KFBSKCHkeXT4fDTl a, svg, .encore-text, .e-9541-text, .encore-text-body-small, .encore-text-body-small a {
            color: var(--background-base);
        }
        .encore-internal-color-text-base {
            font-weight: 800;
        }
        .DZJJ5SCypi2mREbjy5bx, .X_HqPouENflGygaUXNus, .xNcEHsjXQOxonFU8WdfF, .POVCTaiu08g8SWXr {
            filter: brightness(0.15)
        }
        .ceOVVX, .e-91000-icon {
            fill: var(--background-base);
        }
        .Ps9zgW56WZaBVLo1n3cg, .z2gDnpUep7JuZSzeIRag, .uWEu68slnCYemCug {
            background: var(--background-base);
            span {
                color: var(--essential-bright-accent);
            }
        }
        &:hover {
            --essential-bright-accent: color-mix(in srgb, var(--text-bright-accent), white 10%);
        }
        &:active {
            --essential-bright-accent: color-mix(in srgb, var(--text-bright-accent), white 20%);
        }
    }
}

@-moz-document url-prefix("https://123chill.uk"),
    url-prefix("https://streamzy.to"),
    {
        /* Insert code here... */
        div[class="watch-grid"]{
            display: block !important;
        }
}

@-moz-document regexp("^https:\\/\\/(?:www\\.)?discord\\.com(?:\\/.*)?$") {
    [class="pictureInPicture__6341f"]:has([class="media-engine-video media__948a4"]){
        display: none
    }
}

@-moz-document url-prefix("https://discord.com/channels/@me/1467231888065167381"){
    [class="visualMediaItemContainer_f4758a"]:has(a[data-role="img"]){
        height: 12px !important;
    }
}    
@-moz-document domain("onushilonedu.com") {
    /* Insert code here... */
    div[class="elementor-element elementor-element-cb37f61 elementor-share-buttons--view-icon elementor-share-buttons--shape-rounded elementor-share-buttons--color-custom elementor-share-buttons--skin-gradient elementor-grid-0 elementor-widget elementor-widget-share-buttons"],
    div[class="elementor-element elementor-element-690e33e elementor-widget elementor-widget-post-comments"],
    div[class="elementor-element elementor-element-1448eb1 e-flex e-con-boxed e-con e-parent e-lazyloaded"],
    div[class="elementor-element elementor-element-7b2ca16 elementor-widget elementor-widget-heading"],
    div[class="elementor-element elementor-element-9497cca e-con-full sticky-left e-flex e-con e-child"],
    header, footer,
    div[class="elementor-element elementor-element-f5a704e e-flex e-con-boxed e-con e-parent e-lazyloaded"]
    {
        display: none
    }
    *{
        color: #000 !important;
    }
}

@-moz-document url-prefix("https://www.facebook.com"){
    div[class="x9f619 x1n2onr6 x1ja2u2z"] > div[class="x78zum5 xdt5ytf xg6iff7 xippug5 x1n2onr6"],
    div[class="x1cy8zhl x9f619 x78zum5 xl56j7k x2lwn1j xeuugli x47corl x1x97wu9 xbr3nou xmzvs34 xf159sx x1mmp8wh x1r9mfr6"]{
        display: none
    }
}

@-moz-document url-prefix("https://123chill.uk") {
    /* Insert code here... */
    div[class="watch-grid"]{
        display: block !important;
    }
}

@-moz-document domain("stevenuniverse.best") {
    /* Insert code here... */
    .container1 {
        padding: 20px;
        width: 100%;
        max-width: 85vw;
        margin: 0 auto;
        text-align: center;
    }
    div[class="fjjnjgwuj"]{
        display: none
    }
}

@-moz-document domain("www.khanacademy.org") {
    /* Insert code here... */
    [id="donate-banner"]
    {
        display: none
    }
}
