/* ==UserStyle==
@name           Lokkhi
@namespace      github.com/openstyles/stylus
@version        2.0.0
@description    A new userstyle
@author         Me
@var checkbox   discord "discord video preview" 1
==/UserStyle== */

div[id="google-one-tap-anchor"]{
    display: none
}
@-moz-document url-prefix("https://app.shikho.com"), regexp("^https:\\/\\/app\\.shikho\\.com\\/student\\/my-courses\\/.*$") {
    /* Insert code here... */
    div[class="grid grid-cols-12 gap-4"]{
        display: flex;
        flex-direction: column-reverse;
    }
    div[class="col-span-full md:col-span-7"]{
        width: 100%;
    }
    div[class="ContentDisplay_videoSection__4YQSH"],
    .ContentDisplay_videoSection__4YQSH
    {
            width: 100% !important;
    }
    .rpv-toolbar__right .rpv-core__display--hidden.rpv-core__display--block-medium:nth-child(4){
        display: block
    }
}

@-moz-document url-prefix("https://open.spotify.com/playlist/5FafrkFZFxnYtDs1H7e7yz") {
    
    div[class="LUXUp8VNfbIoaJCl"]{
        /*background-image: url(https://i.vgy.me/376vyZ.png);*/
        background-attachment: local;
        background-size: 340%;
        background-blend-mode: color;
        /* 1  background-color: #8c0048; */
        /* 2  background-color: #ab274f; */
         background-color: #8c0048;
        background-position-x: center;
    }
    div[class="VeKY4oPJjQ85fRnN"],
    div[class="Emh6sVCoQHM3KQ4_ WrEaGRqx9J44u32H"]{
        background-image: url(https://i.vgy.me/376vyZ.png) !important; 
        background-attachment: local;
        background-size: 350%;
        background-position-y: 23%;
        background-blend-mode: color;
        background-color: rgba(143, 12, 12, .72);
        background-position-x: center;
    }
    div[class="XToncn4_mYHzhKy7 q8mQFn7r8UYsKdHE _H2ZzS_Atuwx6wh9 tMFkXbMSXNUegQIu EYdwwRebZIgjbKy_ aIU4qABgiIgjAEyD NEK7GtRu3w0JbyBT YDy_mwD8Z1sCem4Q zoKSw5SN9xUA4OkM C3zqtOMpn6kyeSzu"]{
        height      : 30vh !important;
        max-height  : 30vh !important;
    }
    .encore-dark-theme .encore-bright-accent-set {
        --background-base: #c5364f;
        --background-highlight: red;
        --background-press: blueviolet;
    }
    .Ltz8hFoxXpck1XAk.WhDogzQwSAwEfE7F{
         background: #8c0048;
    }
        .encore-dark-theme, .encore-dark-theme .encore-base-set {
        --essential-bright-accent: #ff86a3;
        --text-bright-accent: #fd7070;
    }
        .GzWlvg0xI8IJiSoY.u5wEtE_x69YxkLdv.TiaWL1ubrITBXdmD {
        background: var(--essential-bright-accent);
        .encore-internal-color-text-subdued, .encore-internal-color-text-base, .UudGCx16EmBkuFPllvss a, ._TH6YAXEzJtzSxhkGSqu a, .ET4SVjxyjH4WkA3kSo5G a, .qev2KFBSKCHkeXT4fDTl a, svg, .encore-text, .e-9541-text, .encore-text-body-small, .encore-text-body-small a {
            color: var(--background-base);
        }
        .encore-internal-color-text-base {
            font-weight: 800;
        }
        .DZJJ5SCypi2mREbjy5bx, .X_HqPouENflGygaUXNus, .xNcEHsjXQOxonFU8WdfF, .POVCTaiu08g8SWXr {
            filter: brightness(0.15)
        }
        .ceOVVX, .e-91000-icon {
            fill: var(--background-base);
        }
        .Ps9zgW56WZaBVLo1n3cg, .z2gDnpUep7JuZSzeIRag, .uWEu68slnCYemCug {
            background: var(--background-base);
            span {
                color: var(--essential-bright-accent);
            }
        }
        &:hover {
            --essential-bright-accent: color-mix(in srgb, var(--text-bright-accent), white 10%);
        }
        &:active {
            --essential-bright-accent: color-mix(in srgb, var(--text-bright-accent), white 20%);
        }
    }
}

@-moz-document url-prefix(https://open.spotify.com/playlist/07maNbdCVa7NT4XZeb1wYr) {
    
    div[class="LUXUp8VNfbIoaJCl"]{
        /*background-image: url(https://i.vgy.me/376vyZ.png);*/
        background-attachment: local;
        background-size: 340%;
        background-blend-mode: color;
        /* 1  background-color: #8c0048; */
        /* 2  background-color: #ab274f; */
         background-color: #8c0048;
        background-position-x: center;
    }
    div[class="VeKY4oPJjQ85fRnN"],
    div[class="Emh6sVCoQHM3KQ4_ WrEaGRqx9J44u32H"]{
        background-image: url(https://i.vgy.me/nsBhkC.jpg) !important;
        background-attachment: local;
        background-size: 350%;
        background-position-y: 50%;
        background-blend-mode: color;
        background-color: rgba(83, 15, 117, .72);
        background-position-x: center;
    }
    div[class="XToncn4_mYHzhKy7 q8mQFn7r8UYsKdHE _H2ZzS_Atuwx6wh9 tMFkXbMSXNUegQIu EYdwwRebZIgjbKy_ aIU4qABgiIgjAEyD NEK7GtRu3w0JbyBT YDy_mwD8Z1sCem4Q zoKSw5SN9xUA4OkM C3zqtOMpn6kyeSzu"]{
        height      : 30vh !important;
        max-height  : 30vh !important;
    }
    .encore-dark-theme .encore-bright-accent-set {
        --background-base: #c5364f;
        --background-highlight: red;
        --background-press: blueviolet;
    }
    .Ltz8hFoxXpck1XAk.WhDogzQwSAwEfE7F{
         background: #8c0048;
    }
    .encore-dark-theme, .encore-dark-theme .encore-base-set {
        --essential-bright-accent: #ff86a3;
        --text-bright-accent: #fd7070;
    }
        .GzWlvg0xI8IJiSoY.u5wEtE_x69YxkLdv.TiaWL1ubrITBXdmD {
        background: var(--essential-bright-accent);
        .encore-internal-color-text-subdued, .encore-internal-color-text-base, .UudGCx16EmBkuFPllvss a, ._TH6YAXEzJtzSxhkGSqu a, .ET4SVjxyjH4WkA3kSo5G a, .qev2KFBSKCHkeXT4fDTl a, svg, .encore-text, .e-9541-text, .encore-text-body-small, .encore-text-body-small a {
            color: var(--background-base);
        }
        .encore-internal-color-text-base {
            font-weight: 800;
        }
        .DZJJ5SCypi2mREbjy5bx, .X_HqPouENflGygaUXNus, .xNcEHsjXQOxonFU8WdfF, .POVCTaiu08g8SWXr {
            filter: brightness(0.15)
        }
        .ceOVVX, .e-91000-icon {
            fill: var(--background-base);
        }
        .Ps9zgW56WZaBVLo1n3cg, .z2gDnpUep7JuZSzeIRag, .uWEu68slnCYemCug {
            background: var(--background-base);
            span {
                color: var(--essential-bright-accent);
            }
        }
        &:hover {
            --essential-bright-accent: color-mix(in srgb, var(--text-bright-accent), white 10%);
        }
        &:active {
            --essential-bright-accent: color-mix(in srgb, var(--text-bright-accent), white 20%);
        }
    }
}

@-moz-document url-prefix("https://123chill.uk"),
    url-prefix("https://streamzy.to"),
    {
    /* Insert code here... */
    div[class="watch-grid"]{
        display: block !important;
    }
}

@-moz-document regexp("^https:\\/\\/(?:www\\.)?discord\\.com(?:\\/.*)?$") {
        [class="pictureInPicture__6341f"]{
            display: none
    }

@-moz-document domain("onushilonedu.com") {
    /* Insert code here... */
    div[class="elementor-element elementor-element-cb37f61 elementor-share-buttons--view-icon elementor-share-buttons--shape-rounded elementor-share-buttons--color-custom elementor-share-buttons--skin-gradient elementor-grid-0 elementor-widget elementor-widget-share-buttons"],
    div[class="elementor-element elementor-element-690e33e elementor-widget elementor-widget-post-comments"],
    div[class="elementor-element elementor-element-1448eb1 e-flex e-con-boxed e-con e-parent e-lazyloaded"],
    div[class="elementor-element elementor-element-7b2ca16 elementor-widget elementor-widget-heading"],
    div[class="elementor-element elementor-element-9497cca e-con-full sticky-left e-flex e-con e-child"],
    header, footer,
    div[class="elementor-element elementor-element-f5a704e e-flex e-con-boxed e-con e-parent e-lazyloaded"]
    {
        display: none
    }
    *{
        color: #000 !important;
    }
}
}
